body{
	margin: 0;
	padding: 0;

}

#form{
	background-color:#f4f4f4;
	padding: 100px;
	border-radius: 5px;
}
span{
	color:#000000;
}
.jumbotron {
	
	letter-spacing: 4px;
	font-family: Arial, Helvetica, sans-serif;
}
#form input{
	border: 1px solid lightgreen;
	border-radius: 2px;
	margin: 8px;
}
.bookmarks{
	background-color: #f4f4f4;
	margin-top: 40px;
	border-radius: 4px;
	padding: 10px;
}
.text{
	width: 300px;
}
.btn:hover{
	box-shadow: 2px 2px #000000;
}
.btn:focus{
	box-shadow: 1px 1px #000000;
}